.background {
    background-image: url("../img/background@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1065px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

.header{
    padding-top: 49px;
    padding-bottom: 48px;
}

.logo-link {
    float: left;
    width: 166px;
    height: 44px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
}
.icon-milan {
    display: block;
    width: 46px;
    height: 44px;
    background: url("../img/css_sprites.png") -76px -10px;
    float: left;
}

.logo-link:hover .icon-milan {
    background-position: -10px -10px;
}

.logo-link:hover {
    color: #f26522;
}

.logo-milan {
    display: inline-block;
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 29px;
}

.logo-holidays {
    display: inline-block;
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

.contact {
    float: right;
    text-align: right;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.content {
    height: 537px;
    margin-bottom: 61px;
}

.gallery-tour {
    float: left;
    width: 311px;
}

.gallery-tour:nth-child(1n) {
    margin-bottom: 55px;
}

.gallery-tour:nth-child(1),
.gallery-tour:nth-child(2),
.gallery-tour:nth-child(4),
.gallery-tour:nth-child(5) {
    margin-right: 65px;
}

.gallery-tour-link {
    text-decoration: none;
}

.gallery-tour-image {
    position: relative;
    overflow: hidden;
}

.image {
    border: 2px solid;
    border-image: linear-gradient( #ffffff, #000000) 1;
}

.info {
    display: block;
    padding-top: 22px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
}

.gallery-tour-link:hover .info {
    color: #f26522;
}

.banner {
    position: absolute;
    bottom: -63px;
    width: 100%;
    height: 63px;
    background-color: #f26522;
    color: #ffffff;
    transition: 0.5s;
}

.gallery-tour-link:hover .banner {
    bottom: 0;
}

.from {
    margin: 16px 0 7px 21px;
    font-family: sans-serif;
    font-size: 10px;
}

.from-price {
    margin-left: 21px;
    font-family: sans-serif;
    font-size: 20px;
}

.details {
    position: absolute;
    top: 35px;
    right: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

.details::after {
    content: "\203A";
    display: inline-block;
    margin-left: 15px;
}

.copyright {
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: #ffffff;
    padding-bottom: 20px;
}